DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"
JWT_SECRET="schimba_cu_un_string_lung_si_random"
PORT=3001
FOOTBALL_API_KEY="cheia_ta_de_la_api-football.com"
FOOTBALL_API_HOST="v3.football.api-sports.io"
WORLD_CUP_LEAGUE_ID=1
WORLD_CUP_SEASON=2026
CLIENT_URL="https://scorcorect.vercel.app"
